<template name="search">
	<div class="jumbotron">
		<form class="form-horizontal" role="form" name="search">
			<div class="row">
				<div class="col-sm-9">
					<label class="sr-only" for="search">Search term</label>
					<input type="text" class="form-control input-lg" id="search" name="search" placeholder="Search">
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Search</button>
				</div>
			</div>
		</form>
	</div>
</template>